@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/uudai.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}
<div class="content">
    <div class="container">
        <h1 class="content_heading">Khuyến mãi</h1>
        <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 g-4">
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/datve.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            ĐẶT VÉ SUỐI TIÊN VUI CHƠI THẢ GA, GIẢI TRÍ CỰC ĐÃ NGAY TRÊN ỨNG DỤNG NGÂN HÀNG VÀ VÍ VNPAY
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>03/05/2024</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>146 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/kcRsa1709891393.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            SUỐI TIÊN TUNG ƯU ĐÃI 08/03, MỜI HỘI CHỊ EM SET KÈO THAM QUAN VƯỜN NHO MẪU ĐƠN CHÍN RỘ
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>08/03/2024</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>223 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/wAsZF1706754517.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            GIỚI TRẺ SÀI GÒN CHECK-IN TREND “EM XINH” TẠI CÁC CÔNG TRÌNH TÂM LINH SUỐI TIÊN
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>01/02/2024</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>204 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/IMG_5777.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            FARM NHO MẪU ĐƠN SẮP VÀO MÙA THU HOẠCH CHÀO ĐÓN QUÝ DU KHÁCH
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>26/01/2024</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>187 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/bài viết website tất niên.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            TIỆC YEAR END PARTY ẤN TƯỢNG TẠI CHUỖI ẨM THỰC SUỐI TIÊN - MÙA ƯU ĐÃI CUỐI NĂM RỘN RÀNG
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>24/12/2023</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>213 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/ibMJ71702871686.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            TÂN NIÊN SUỐI TIÊN - NHẬN NGAY LỘC VÀNG 9999
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>18/12/2023</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>324 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/CHmBa1702623832.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            TỔ CHỨC TIỆC TẤT NIÊN Ở ĐÂU? BẬT MÍ NHỮNG Ý TƯỞNG TỔ CHỨC SỰ KIỆN CUỐI NĂM ĐÁNG NHỚ
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>15/12/2023</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>160 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/uTQP61694832252.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            SUNG MỸ TẠI SUỐI TIÊN FARM CÓ GÌ ĐẶC BIỆT?
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>25/09/2023</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>347 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/MH5WD1692158729.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            CHƯƠNG TRÌNH NGHỆ THUẬT HOÀNH TRÁNG CHÀO MỪNG QUỐC KHÁNH
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>31/08/2023</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>416 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/ap35x1692158511.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            VU LAN BÁO HIẾU - ĐẾN SUỐI TIÊN GỬI NGUYỆN ƯỚC AN LÀNH
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>31/08/2023</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>337 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/hu5HX1692066579.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            TƯNG BỪNG SINH NHẬT 28 TUỔI - SUỐI TIÊN TẶNG 1.000 COMBO THAM QUAN
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>17/08/2023</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>406 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/WDWBZ1685607639.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            VUI CHƠI THÍCH MÊ - MIỄN 100% VÉ VÀO CỔNG CHO TRẺ EM TRONG NGÀY 1/6
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>01/06/2023</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>583 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/hHDLc1680686370.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            ƯU ĐÃI TUẦN LỄ VÀNG - CHI TIẾT ƯU ĐÃI DÀNH CHO DU KHÁCH GHÉ THĂM
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>05/04/2023</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>931 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/I6AVn1680686172.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            VALENTINE - ƯU ĐÃI VỚI CHƯƠNG TRÌNH "KHI ĐI MỘT MÌNH, KHI VỀ CÓ ĐÔI
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>05/04/2023</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>310 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/uudai/m84K51680685906.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            MỪNG XUÂN QUÝ MÃO - ƯU ĐÃI VÉ CỔNG CHỈ CÒN 100.000VND
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>05/042023</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>404 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>