@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/congvao.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}
<div class="content">
    <div class="container">
        <h1 class="content_heading">Cổng vào</h1>
        <div class="content_discription">
            <p>
                Khu du lịch Suối Tiên nằm ở phía Đông Nam của Thành phố Hồ Chí Minh,
                Việt Nam. Cổng vào chính của khu du lịch này thường được gọi là
                "Cổng Chính Suối Tiên". Địa chỉ chính xác của nó là 120 AH1, Tân
                Phú, Quận 9, Thành phố Hồ Chí Minh, Việt Nam.
            </p>
            <img src="/imgs/slider/lich-su-hinh-thanh-khu-du-lich-suoi-tien.jpg"
                 alt="" />
        </div>
    </div>
</div>