@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/diemthamquan.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}
<div class="content">
    <div class="container">
        <h1 class="content_heading">Điểm tham quan</h1>
        <div class="content_discription">
            <p>
                <strong>Hòn Ngọc Viễn Đông và Hòn Ngọc Viễn Tây:</strong> Đây là hai
                hòn đảo nhân tạo được thiết kế với kiến trúc lạ mắt và nhiều hoạt
                động giải trí như cưỡi lướt sóng, thám hiểm hang động, và thưởng
                ngoạn những cảnh quan độc đáo.
            </p>
            <p>
                <strong>Rừng nhiệt đới giả tạo:</strong> Một khu vực mô phỏng rừng
                nhiệt đới với cảnh quan, động vật và thực vật đặc trưng, cho phép du
                khách trải nghiệm môi trường tự nhiên của rừng nhiệt đới.
            </p>
            <p>
                <strong>Vườn hoa Đại Nam và Thác nước:</strong> Khu vườn hoa đẹp mắt
                với nhiều loại hoa khác nhau và thác nước ấn tượng là điểm đến lý
                tưởng cho việc chụp ảnh và thư giãn.
            </p>
            <p>
                <strong>Hồ Cảnh quan và Công viên nước: </strong> Nơi bạn có thể tận
                hưởng không gian xanh mát và thư giãn bên bờ hồ, hoặc tham gia các
                hoạt động vui chơi nước tại công viên nước.
            </p>
            <p>
                <strong>Khu di tích lịch sử:</strong> Bao gồm các khu vực trưng bày
                diorama về lịch sử và văn hóa của Việt Nam, cùng với các kiến trúc
                phong cách cổ điển.
            </p>
            <p>
                <strong>Các khu vực ẩm thực:</strong> Suối Tiên có nhiều nhà hàng và
                quán ăn phục vụ đa dạng món ăn từ địa phương đến quốc tế.
            </p>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4"
             style="margin-top: 16px">
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/cautreo.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Cầu treo</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/congviennuoc.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Công viên nước</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/duongham.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Đường hầm xuyên lòng đất</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/duonghamduoibien.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Lối đi dưới đại dương</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/lehoi.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Các lễ hội hoành tráng</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/ongtruoc.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Ống trược nước</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/sankhaudemen.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Sân khấu dế mèn</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/sankhaungoisao.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Sân khấu ngôi sao</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/tamsuoi.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Tắm suối thiên nhiên</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/tuongsutu.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Tượng sư tử</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/vuonnho.JPG"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Vườn nho sinh học</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/diadiemthamquan/vuonthu.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Vườn thú</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>