@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/hoatdongsankhau.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}
<div class="content">
    <div class="container">
        <h1 class="content_heading">Hoạt động sân khấu</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 16px">
            <div class="col">
                <div class="card">
                    <img src="/imgs/sankhau/sankhaungoisao-congviendamsen-300x172.jpg"
                         class="card-img-top card__img"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Sân khấu ngôi sao</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/sankhau/san-khau-de-men-damsen-300x200.jpg"
                         class="card-img-top card__img"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Sân khấu dế mèn</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>