@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/trochoi.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}
<div class="content">
    <div class="container">
        <h1 class="content_heading">Trò chơi</h1>
        <div class="content_discription">
            <p>
                <strong>Các trò chơi cảm giác mạnh:</strong> Bao gồm các trò chơi
                như cưỡi lướt sóng, vòng quay vũ trụ, và thác nước cao.
            </p>
            <p>
                <strong>Khu vực vui chơi cho trẻ em:</strong> Bao gồm các trò chơi
                như khu vườn cổ tích, công viên nước cho trẻ em, và trò chơi giáo
                dục.
            </p>
            <p>
                <strong>Tham quan các điểm du lịch:</strong> Bạn có thể tham quan
                các điểm đặc biệt như Hòn Ngọc Viễn Đông, Hòn Ngọc Viễn Tây, và rừng
                nhiệt đới giả tạo.
            </p>
            <p>
                <strong>Các sự kiện và chương trình biểu diễn:</strong> Suối Tiên
                thường tổ chức các chương trình biểu diễn văn hóa, âm nhạc, và nghệ
                thuật vào các dịp lễ lớn.
            </p>
            <p>
                <strong>Các khu vực ẩm thực:</strong> Bạn có thể thưởng thức các món
                ăn địa phương và quốc tế tại các nhà hàng và quán ăn trong khu du
                lịch.
            </p>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4"
             style="margin-top: 16px">
            <div class="col">
                <div class="card">
                    <img src="/imgs/trochoi/nuoc.png"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Các trò chơi dưới nước</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/trochoi/lãie.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Trượt xe vòng quanh khu du lịch</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/trochoi/ongtruoc.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Trượt ống mạo hiểm</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs//trochoi/tauluon.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Tàu lượn siêu tốc</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/trochoi/truocmangnuoc.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Trượt máng nước</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/trochoi/vongxoay.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Vòng xoay tử thần</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs//trochoi/chothuan.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Trải nghiệm vườn thú</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/trochoi/duonghamduoibien.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Đường hầm dưới lòng đại dương</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/trochoi/tamsuoi.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Tắm tiên</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>