@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/vuonchimthu.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}

<div class="content">
    <div class="container">
        <h1 class="content_heading">Vườn chim thú</h1>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4"
             style="margin-top: 16px">
            <div class="col">
                <div class="card">
                    <img src="/imgs/thu/borua.jpg"
                         class="card-img-top card__img"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Bộ rùa</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/thu/bosat.jpg"
                         class="card-img-top card__img"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Bò sát</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/thu/vuonchim.jpg"
                         class="card-img-top card__img"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Vườn chim</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/thu/vuonthu.jpg"
                         class="card-img-top card__img"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Vườn thú</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/imgs/thu/chimhoangda.jpg"
                         class="card-img-top card__img"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Các loài chim hoang dã</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>