@section styles {
    <link rel="stylesheet" href="~/styles/sub_styles/sukien.css">
}
<div class="content">
    <div class="container">
        <h1 class="content_heading">Sự kiện</h1>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
            <div class="col">
                <div class="card">
                    <img src="~/imgs/sukien/lehoitraicay.png"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">
                            Lễ hội trái cây Nam Bộ 2024 tại Suối Tiên
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>16/05/2024</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>192 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/imgs/sukien/green.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">
                            HỘI THI GREEN UNITY CAMPAIGN 2024 - CHIẾN DỊCH ĐOÀN KẾT VÌ MÔI
                            TRƯỜNG
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>11/05/2024</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>271 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/imgs/sukien/hoithi.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">
                            Hội thi nghệ thuật tạo hình bằng trái cây năm 2024
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>11/05/2024</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>199 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/imgs/sukien/hesoidong.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">
                            HÈ SÔI ĐỘNG VỚI LỄ HỘI TRÁI CÂY NAM BỘ 2024 (LẦN THỨ 20) TẠI
                            SUỐI TIÊN
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>06/05/2024</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>192 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/imgs/sukien/datve.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">
                            ĐẶT VÉ SUỐI TIÊN VUI CHƠI THẢ GA, GIẢI TRÍ CỰC ĐÃ NGAY TRÊN
                            ỨNG DỤNG NGÂN HÀNG VÀ VÍ VNPAY
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>05/05/2024</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>340 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/imgs/sukien/le30_4.jpg"
                         class="card-img-top"
                         alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">
                            MỪNG LỄ 30/4, SUỐI TIÊN GIỚI THIỆU NHIỀU CÔNG TRÌNH VÀ HOẠT
                            ĐỘNG MỚI
                        </h5>
                        <div class="card-text">
                            <div class="card-text_calender">
                                <span class="material-symbols-outlined card-text-icon">
                                    calendar_month
                                </span>
                                <span>01/05/2024</span>
                            </div>
                            <div class="card-text_viewer">
                                <span class="material-symbols-outlined card-text_viewer__icon">visibility</span>
                                <span>270 lượt xem</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>