.content {
    margin: 32px 0;
}

.content_heading {
    padding: 12px 0;
    color: #8c4e2a;
    font-weight: 700;
}

.dropdown-toggle:hover {
    background-color: #f3eded;
}

.dropdown-toggle {
    font-size: 24px;
    padding: 10px 12px;
    max-width: 100%;
    white-space: wrap;
}

.dropdown-menu {
    font-size: 18px;
    min-width: 666px;
    padding: 12px 16px;
}

.dropdown-menu p {
    white-space: pre-wrap; /* Giữ nguyên các xuống dòng trong đoạn văn bản */
}

/* Form comment submit*/
.comment-form-container {
    width: 100%;
    background-color: #fff;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment {
    margin-bottom: 64px;
}

.comment-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    color: purple;
}

.comment-form .form-group {
    margin-bottom: 15px;
}

.comment-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.comment-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.comment-form button:hover {
    background-color: #0056b3;
}

/* List comment user*/
.comment-list {
    margin-top: 52px;
}

.comment-user-container {
    margin-top: 18px;
}

.comment-user-info {
    display: flex;
    align-items: center;
}

.comment-user-info_name {
    font-weight: 800;
    font-size: 22px;
    margin-right: 12px;
    color: #800000;
}

.comment-user-info_time {
    font-size: 18px;
    color: #04098e;
}

.comment-user-content {
    font-size: 20px;
    color: black;
}

.comment-user-feedback {
    display: flex;
    align-items: center;
    min-height: 52px;
    color: black;
}

.comment-user-feedback span {
    font-size: 30px;
    margin-right: 16px;
    cursor: pointer;
}
.thumb_up-icon-like:hover {
    padding: 8px;
    border-radius: 50%;
    background-color: blue;
    color: white;
}
.thumb_up-icon-dislike:hover {
    padding: 8px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.comment-user-feedback p {
    font-size: 20px;
    font-weight: 500;
    margin-left: 18px;
    cursor: pointer;
}

.comment-user-feedback p:hover {
    color: #999;
}

.thumb_up {
    display: flex;
    align-items: center;
}

.thumb_down {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

span.thumb_up-like ,
span.thumb_up-dislike {
    margin-left: -8px;
    font-size: 20px;
    color: #a16f6f;
}

.liked {
    color: blue; /* Màu khi đã like */
}

.disliked {
    color: red; /* Màu khi đã dislike */
}

.feedback {
    cursor: pointer;
}


.feedback-form-container {
    width: 50%;
    background-color: #fff;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 52px;
}

.feedback_list {
    margin-left: 52px;
}