@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/bando.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}

<div class="content">
    <div class="container">
        <h1 class="content_heading">Bản đồ khu du lịch Suối Tiên</h1>
        <div class="content_discription">
            <p style="margin-bottom: 16px">
                Bản đồ công viên Suối Tiên giúp cho bạn có thể khám phá, và đi tới
                nhiều địa điểm tham quan hữu ích nhất trong Suối Tiên này, mà không
                phải lo lắng hay sợ sệt là nếu lỡ có lạc đường đi, thì ít nhất là
                cũng sẽ kiếm ra được lối về may mắn nhất dành cho gia đình của mình
                😀
            </p>
            <img src="/imgs/anh-2-13.png" alt="" />
            <p style="margin-top: 16px">
                Dưới đây, là danh sách số thứ tự của các trò chơi, đã được đánh số
                cụ thể nhất rồi. Và các khu trò chơi được đánh dấu trong bản đồ của
                Công Viên Văn Hóa Suối Tiên rồi nhé các bạn. Mọi người cứ theo hướng
                dẫn cụ thể trong bản đồ, để có thể tham gia các trò chơi cụ thể với
                giá vé trọn gói Suối Tiên Quận 11 này nhé. Chú ý thêm, là sẽ có các
                trò chơi khác không nằm trong phạm vi giá vé trọn gói của Suối Tiên
                đâu nhé, và quy định về chiều cao để có thể tham gia các trò chơi
                của bộ vé trọn gói Suối Tiên là theo chỉ dẫn của khuôn màu nhé.
            </p>
        </div>
    </div>
</div>