@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/dichvu.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}
<div class="content">
    <div class="container">
        <h1 class="content_heading">Dịch vụ</h1>
        <div class="content_discription">
            <p style="color: #888">
                Nhằm phục vụ và đáp ứng nhu cầu tham quan, vui chơi giải trí ngày
                càng cao của du khách, Công viên Văn hóa Suối Tiên đang được định
                hướng phát triển thành một khu vui chơi giải trí phức hợp hiện đại
                bậc nhất Việt Nam. hiện nay, Suối Tiên có 5 loại hình dịch vụ trọng
                tâm như sau:
            </p>
            <p>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thảm thực vật đa dạng:</strong>
                với đủ loại cây xanh, từ bon sai kiểng cổ đến nhiều loài kì hoa dị
                thảo với các khu vườn xanh mát: Vườn Nam Tú thượng Uyển, Đảo Lan
                Rừng, Vườn Xương Rồng, Vườn Hoa Châu Âu, …
            </p>
            <p>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hệ động vật phong phú:</strong>
                với hơn 100 chủng loại, bao gồm động vật nuôi trồng, động vật hoang
                dã và động vật quý hiếm: đười ươi, voi, trăng, cá sấu, đà điểu, hưu
                sao, giang sen, …..
            </p>
            <p>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hệ thống trò chơi hiện đại:</strong>
                với hơn 50 trò chơi từ thư giản đến cảm giác mạnh, phân bổ đều khắp
                khuôn viên Suối Tiên.
            </p>
            <p>
                <strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sự kiện văn hóa nghệ thuật đặc
                    sắc:
                </strong>
                Suối Tiên là nơi tổ chức nhiều kỷ lục Guiness thế giới, Guiness Việt
                Nam như kỷ lục bánh tét, bánh chưng, bánh Noel, cùng với các sự kiện
                văn hóa của Việt Nam và thế giới như lễ hội Halloween, lễ hội đón
                chào năm mới, Tết Nguyên đán, hội trăng rằm dành cho thiếu nhi dịp
                Trung thu, ngày hội dành cho nhà giáo, nhà báo, văn nghệ sĩ…
            </p>
            <p>
                <strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ẩm thực hấp dẫn, đa hương
                    vị:
                </strong>
                gồm hệ thống các nhà hàng Hương Trang, Hương Sen, Làng ẩm thực món
                ngon Suối Tiên với da dạng phong cách chế biến, phục vụ mọi đối
                tượng thực khách xuyên suốt.
            </p>
        </div>
    </div>
</div>