@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/lichsuhinhthanh.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}

<div class="content">
    <div class="container">
        <h1 class="content_heading">Lịch sử hình thành</h1>
        <img src="/imgs/1200px-Fairy_Stream_(Mui_Ne).jpg" alt="" />
        <p class="content_description">
            Khu du lịch Văn hóa Suối Tiên phôi thai là một Lâm trại nuôi trăn và
            sản xuất hàng thủ công mỹ nghệ do ông Đinh Văn Vui - một người con quê
            hương Sóc Trăng bắt đầu xây dựng vào năm 1987. Lâm trại lúc đầu chỉ có
            6.600 m² đất hoang hóa, có con suối chảy qua với huyền thoại 7 cô gái
            đồng trinh cùng tuổi Rồng quy tiên tại dòng suối nên dân trong vùng
            gọi là Suối Tiên. <br />
            <br />
            Sau 25 năm phát triển, Suối Tiên là một trung tâm giải trí, vui chơi
            hàng đầu của cả nước, đồng thời khẳng định được vị thế trong khu vực
            và trên thế giới. Với diện tích 105 ha, trên 150 công trình, vui chơi
            giải trí, đa dạng và phong phú, hơn 1000 lao động, hàng năm Suối Tiên
            đón hàng triệu lượt khách đến tham quan.
            <br />
            <br />
            Hiện nay Suối Tiên đang tiếp tục triển khai mở rộng diện tích với quy
            mô hơn 50 ha nâng tổng số diện tích lên 150 ha và số vốn đầu tư giai
            đoạn hai là 2.000 tỉ đồng.
        </p>
    </div>
</div>