@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/lichbieudien.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}

<div class="content">
    <div class="container">
        <h1 class="content_heading">Lịch biểu diễn</h1>

        <table>
            <tr>
                <th>Ngày</th>
                <th>Sân khấu ngôi sao</th>
                <th>Sân khấu dế mèn</th>
                <th>Rạp xiếc khu B</th>
                <th>Lân sư rồng</th>
                <th>Show diễu hành</th>
            </tr>
            <tr>
                <th>Thứ 7</th>
                <td>
                    11h: Chương trình ca nhạc <br />
                    17h: Chương trình ca nhạc
                </td>
                <td>
                    11h: Ca múa nhạc thiếu nhi <br />
                    15h: Show rối (Cuộc hội ngộ của các phù thủy)
                </td>
                <td>
                    10h: Xiếc: Những người bạn rừng xanh <br />
                    12h: Xiếc: Phi Châu hoang dã <br />
                    14h: Xiếc: Phi Châu hoang dã <br />
                    16h: Xiếc: Những người bạn rừng xanh
                </td>
                <td>Không diễn</td>
                <td>Không diễn</td>
            </tr>
            <tr>
                <th>Chủ nhật</th>
                <td>
                    11h: Ca múa nhạc thiếu nhi <br />
                    13h: Show kịch Những đứa con của rồng <br />
                    16h: Show rối (Cuộc hội ngộ của các phù thủy)
                </td>
                <td>
                    11h: Ca múa nhạc thiếu nhi <br />
                    15h: Show rối (Cuộc hội ngộ của các phù thủy)
                </td>
                <td>
                    10h: Xiếc: Những người bạn rừng xanh <br />
                    12h: Xiếc: Phi Châu hoang dã <br />
                    14h: Xiếc: Phi Châu hoang dã <br />
                    16h: Xiếc: Những người bạn rừng xanh
                </td>
                <td>
                    9h – 12h: Lân Sư Rồng <br />
                    14h – 17h: Lân Sư Rồng
                </td>
                <td>10h30: Show diễu hành Đầm Sen</td>
            </tr>
            <tr>
                <th>
                    Các ngày lễ <br />
                    Tết
                </th>
                <td>
                    11h: Ca múa nhạc thiếu nhi <br />
                    13h: Show kịch Những đứa con của rồng <br />
                    16h: Show rối (Cuộc hội ngộ của các phù thủy)
                </td>
                <td>
                    11h: Ca múa nhạc thiếu nhi <br />
                    15h: Show rối (Cuộc hội ngộ của các phù thủy)
                </td>
                <td>
                    10h: Xiếc: Những người bạn rừng xanh <br />
                    12h: Xiếc: Phi Châu hoang dã <br />
                    14h: Xiếc: Phi Châu hoang dã <br />
                    16h: Xiếc: Những người bạn rừng xanh
                </td>
                <td>
                    9h – 12h: Lân Sư Rồng <br />
                    14h – 17h: Lân Sư Rồng
                </td>
                <td>10h30: Show diễu hành Đầm Sen</td>
            </tr>
            <tr>
                <td colspan="6">
                    <strong>* Chú ý:</strong> Rạp Xiếc Khu B diễn hàng ngày vào lúc
                    11h00
                </td>
            </tr>
        </table>
    </div>
</div>