@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/phuongtienvanchuyen.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}

<div class="content">
    <div class="container">
        <h1 class="content_heading">Phương tiện vận chuyển</h1>
        <div class="content_discription">
            <img src="/imgs/phuong-tien-van-chuyen-damsen.jpg" alt="" />
            <p style="margin-top: 8px">
                <strong>Xe bus:</strong> Trong thành phố có một số tuyến xe buýt đi
                đến công viên Văn hóa Suối Tiên đón ở các trạm khác nhau với mức giá
                từ 3.000 VNĐ/vé cho học sinh - sinh viên và 7.000 VNĐ/vé cho người
                lao động bình thường như: Tuyến số 08, 150, 19, 30, 33, 53, 60-1,
                60-260-3, 76, 93, và 99…
            </p>
            <p style="margin-top: 4px">
                <strong>Taxi, xe ô tô hoặc xe máy:</strong> Bạn cũng có thể di
                chuyển bằng phương tiện cá nhân như xe máy, ô tô hoặc thuê taxi tại
                thành phố Hồ Chí Minh ở các sân bay hay trạm xe lớn, sau đó đi tới
                hầm Thủ Thiêm rồi chạy thẳng theo đường “xa lộ Hà Nội” cho tới khi
                nhìn thấy tấm biển lớn "Công viên giải trí Suối Tiên". Bảng giá giữ
                xe từ 2.000đ - 5.000đ cho mỗi xe máy và 15.000đ-20.000đ cho một ô
                tô.
            </p>
        </div>
    </div>
</div>