@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/quydinhthamquan.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}

<div class="content">
    <div class="container">
        <h1 class="content_heading">Quy định tham quan</h1>
        <div class="content_discription">
            <p>
                &nbsp;&nbsp;&nbsp;- Quý khách vui lòng mua đúng loại vé và đủ vé cho
                từng người.
            </p>
            <p>&nbsp;&nbsp;&nbsp;- Mỗi người cầm trên tay một vé để vào cổng.</p>
            <p>
                &nbsp;&nbsp;&nbsp;- Không mang thú nuôi, các chất cháy nổ và hàng
                quốc cấm vào công viên.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;- Thực hiện nếp sống văn minh, trật tự xếp hàng
                khi qua cổng kiểm soát, tại các khu trò chơi, tại các quầy gửi đồ,
                các nhà hàng, quán ăn.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;- Không mang đồ ăn, đồ uống vào công viên, trừ đồ
                ăn dành riêng cho trẻ em, đồ ăn cho những người ăn theo chế độ đặc
                biệt hoặc đồ ăn dành cho các nhà tu hành.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;- Không ăn uống tại những chỗ không thuộc vị trí
                quy hoạch cho khu vực ăn uống như: bãi cỏ, lối đi, các khu vực có
                biển cấm.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;- Không hút thuốc tại các khu vực trò chơi, sân
                khấu, khu ẩm thực.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;- Không nằm, leo trèo lên cây cối và trên các ghế
                đá, ghế gỗ ngoài trời.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;- Vứt rác đúng nơi qui định, không xả rác, khạc
                nhổ bừa bãi gây mất vệ sinh.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;- Không tổ chức đánh bài và tổ chức các hình cờ
                bạc trong công viên.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;- Nghiêm cấm thực hiện các hành vi khác trái với
                thuần phong mỹ tục và các hành vi làm ảnh hưởng tới mỹ quan trong
                công viên.
            </p>
        </div>
    </div>
</div>