@{
    ViewData["Title"] = "Home Page";
}

<!-- Banner -->
<div class="banner">
    <div class="container">
        <div id="bg">
        </div>
    </div>
</div>

<!-- Sub banner -->
<div class="sub-banner">
    <div class="container sub-banner_container">
        <div class="sub-banner_left">
            <h1 class="sub-banner_left__header">SUOI TIEN THEME PARK</h1>
            <p class="sub-banner_left_description">Khu Du lịch Văn hóa Suối Tiên - Một trung tâm vui chơi giải trí kết hợp đa dạng những giá trị truyền thống và hiện đại; nổi tiếng với các công trình Văn hóa - lịch sử - Tâm linh lâu đời và ngày càng phát triển các công trình mới phù hợp với xu hướng du lịch xanh trải nghiệm. Suối Tiên – Miền đất Tứ Linh bốn mùa Lễ hội cùng những sự kiện văn hóa nghệ thuật đặc sắc hứa hẹn sẽ mang đến cho quý du khách một chuyến tham quan đáng nhớ và vô cùng thú vị. Đến với Suối Tiên, du khách thỏa thích trải nghiệm đa dạng những công trình mới lạ, hoạt động du lịch hấp dẫn và hàng loạt chương trình biểu diễn nghệ thuật: Suối Tiên Farm, Farm Cừu, Giang Sơn Bách Thú, Biển Tiên Đồng - Ngọc Nữ, Thủy Cung, Lâu Đài Tuyết, Lâu Đài Phép Thuật, Phụng Hoàng Tiên, sân khấu hóa Sơn Tinh - Thủy Tinh.</p>
        </div>
        <div class="sub-banner_right">
            <img src="~/imgs/sub-banner.jpg" alt="">
        </div>
    </div>
</div>

<!-- Thư Viện Ảnh và Video -->
<div class="imgVideo">
    <div class="container imgVideo-container">
        <h1>THƯ VIỆN</h1>
        <div class="btn-imageAndVideo">
            <button class="btn-imageAndVideo_image" id="btn-imageAndVideo_image">HÌNH ẢNH</button>
            <button class="btn-imageAndVideo_video" id="btn-imageAndVideo_video">VIDEO</button>
        </div>
        <div class="imageAndVideo">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-4 imageAndVideo_image show">
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <img src="~/imgs/thuvien/7F6M11681437523.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <img src="~/imgs/thuvien/AmqtN1681437532.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <img src="~/imgs/thuvien/GJNDy1681437514.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <img src="~/imgs/thuvien/INCSL1681437506.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <img src="~/imgs/thuvien/VDdx81681437526.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <img src="~/imgs/thuvien/VuXuX1681437518.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 g-4 imageAndVideo_video hide  ">
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <iframe src="https://www.youtube.com/embed/0rGjISpnuug?si=Pup7E_j0Pd3yWPQH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <iframe src="https://www.youtube.com/embed/ZY_yBmI4O30?si=IOwz2JqwvZRB-xt2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <iframe src="https://www.youtube.com/embed/Em7RcANpNxI?si=qfB1B9mrbAOPkQvf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <iframe src="https://www.youtube.com/embed/WskTOJYaJek?si=5s146WJLow0mJJ-1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <iframe src="https://www.youtube.com/embed/hah_1r1UOIg?si=4UcSSaWfg7qVV8Gg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-libary" style="background-color: unset; border: unset;">
                        <iframe src="https://www.youtube.com/embed/cs7hzO1QWWs?si=qPru4mBJ17Xhm2tZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Khám phá suối tiên -->
<div class="container">
    <H1 class="kpst">KHÁM PHÁ SUỐI TIÊN</H1>
</div>

<!-- Silder -->
<div class="slider">
    <div class="container">
        <div class="owl-carousel">
            <div class="slider-item">
                <a href="/More/ThuyCung" style="text-decoration: none;">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/imgs/dia-chi-suoi-tien.jpg" alt="">
                            <p style="padding: 8px 0 0 16px; font-weight: 800; font-size: 20px; margin: 0;">Thủy Cung</p>
                            <div class="card-body">
                                <p style="font-size: 16px;" class="card-text">Thủy cung Suối Tiên là nơi lưu trữ và trưng bày hơn 100 loài sinh vật biển trong các bể chứa. Đặc biệt, nơi đây có khoảng 40 loài hải quỳ và san hô sống. Mọi thứ đầy màu sắc tung tăng bơi lội cực sinh động bên trên đường hầm thủy cung.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slider-item">
                <a href="/More/DuongHam" style="text-decoration: none;">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/imgs/khu-du-lich-van-hoa-suoi-tien.jpg" alt="">
                            <p style="padding: 8px 0 0 16px; font-weight: 800; font-size: 20px; margin: 0;">Đường hầm xuyên lòng đất</p>
                            <div class="card-body">
                                <p style="font-size: 16px; text-align: justify;" class="card-text">Trở về với Ai Cập cổ đại và cùng gặp gỡ các vị vua và nữ hoàng uy quyền. Bạn còn được tận mắt chiêm ngưỡng hàng ngàn châu báu thời xa xưa chất cao như núi được bao người ao ước. Để truy tìm kho báu dưới lòng đất bí ẩn.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slider-item">
                <a href="/More/DiaNguc12Tang" style="text-decoration: none;">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/imgs/hinh-anh-suoi-tien.jpg" alt="">
                            <p style="padding: 8px 0 0 16px; font-weight: 800; font-size: 20px; margin: unset;">12 tầng địa ngục</p>
                            <div class="card-body">
                                <p style="font-size: 16px;" class="card-text">
                                    12 tầng địa ngục ở Suối Tiên truyền tải mạnh mẽ đạo lý nhân quả của Phật pháp. Từ âm thanh, ánh sáng, tiểu cảnh,… Đều được bố trí, tái hiện chân thật câu chuyện địa ngục về sự trả giá nếu làm ác. Khiến không ít du khách hét lên vì sợ và kinh dị.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slider-item">
                <a href="/More/TauLuon" style="text-decoration: none;">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/imgs/suoi-tien-o-dau.jpg" alt="">
                            <p style="padding: 8px 0 0 16px; font-weight: 800; font-size: 20px;">Tàu lượn siêu tốc</p>
                            <div class="card-body">
                                <p style="font-size: 16px; margin: 0;" class="card-text">Đoàn tàu đưa du khách trải nghiệm cảm giác “yomost”. Lên dốc cao rồi thả không trọng lượng xuống dốc thấp và đâm xuyên qua dãy núi Thiên Sơn Hàn Băng Động. Chắc chắn đây sẽ là trò chơi khiến bạn thích thú và khó quên nhất.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slider-item">
                <a href="/More/LeBonMua" style="text-decoration: none;">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/imgs/cac-tro-choi-o-suoi-tien.jpg" alt="">
                            <p style="padding: 8px 0 0 16px; font-weight: 800; font-size: 20px; margin: 0;">Lễ hội bốn mùa</p>
                            <div class="card-body">
                                <p style="font-size: 16px;" class="card-text">Nhờ không gian rộng lớn và thoáng mát. Suối Tiên Sài Gòn là địa điểm lý tưởng để tổ chức các lễ hội lớn. Mỗi một mùa lễ hội đều được đầu tư rực rỡ, hoành tráng. Nổi bật nhất phải kể đến là lễ hội mùa xuân và lễ hội mùa hè vô cùng hấp dẫn.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slider-item">
                <a href="/More/ChuaThienBao" style="text-decoration: none;">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="~/imgs/tham-quan-suoi-tien.jpg" alt="">
                            <p style="padding: 8px 0 0 16px; font-weight: 800; font-size: 20px; margin: 0;">Chùa Long Hoa Thiên Bảo</p>
                            <div class="card-body">
                                <p style="font-size: 16px;" class="card-text">Kỳ Quang Long Hoa Thiên Bảo (Suối Tiên) lần đầu tiên tổ chức tuần lễ văn hóa tâm linh đầy ý nghĩa nhân lễ Vu Lan đã để lại dấu ấn tốt đẹp. Nơi đây là điểm hành hương quan trọng và cũng thu hút du khách bởi không gian yên bình.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Social network -->
<div class="social-network" id="fixed-social-network">
    <a href="https://www.bing.com/ck/a?!&&p=d241074bef156acaJmltdHM9MTcxNTY0NDgwMCZpZ3VpZD0yODk0MjJhMS00Nzk2LTY5MWItMzBhYi0zMjZiNDZmMDY4NjImaW5zaWQ9NTIxOA&ptn=3&ver=2&hsh=3&fclid=289422a1-4796-691b-30ab-326b46f06862&psq=facebook+su%c3%b4i+ti%c3%aan&u=a1aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL1N1b2lUaWVuVGhlbWVQYXJrLw&ntb=1" id="facebook" class="facebook">
        <i class="fa fa-facebook"></i>
        <p>Facebook</p>
    </a>
    <a href="https://www.bing.com/ck/a?!&&p=07344b49a1fd9c20JmltdHM9MTcxNTY0NDgwMCZpZ3VpZD0yODk0MjJhMS00Nzk2LTY5MWItMzBhYi0zMjZiNDZmMDY4NjImaW5zaWQ9NTIxNQ&ptn=3&ver=2&hsh=3&fclid=289422a1-4796-691b-30ab-326b46f06862&psq=twittersu%c3%b4i+ti%c3%aan&u=a1aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL1N1b2lUaWVuVGhlbWVQYXJrLw&ntb=1" class="twitter">
        <i class="fa fa-twitter"></i>
        <p>Twitter</p>
    </a>
    <a href="https://suoitien.com/" class="google">
        <i class="fa fa-google"></i>
        <p>Google</p>
    </a>
    <a href="#" class="linkedin">
        <i class="fa fa-linkedin"></i>
        <p>Linkedin</p>
    </a>
    <a href="#" class="youtube">
        <i class="fa fa-youtube"></i>
        <p>Youtube</p>
    </a>
</div>

<!-- Mua vé -->
<button class="my-btn js-buy-ticket">Mua vé</button>
<div class="modal js-modal">
    <div class="model-contain js-model-container">
        <div class="model-close js-modal-close">
            <i class="ti-close"></i>
        </div>

        <div class="model-header">
            <i class="ti-bag"></i>
            Tickets
        </div>

        <!-- <form action="~/html/DatVeThamQuan.html" method="get"> -->
        <div class="model-body" id="model-body">
            <label for="tickets-name" class="model-label">
                <span class="material-symbols-outlined">confirmation_number</span>
                Name
            </label>
            <input required id="tickets-name" type="text" name="tickets-name" class="model-input" placeholder="Tên quý khách?">
            <p id="check-tickets-name"></p>

            <label for="tickets-quantity" class="model-label">
                <span class="material-symbols-outlined">confirmation_number</span>
                Số lượng vé
            </label>
            <input required id="tickets-quantity" type="number" name="tickets-quantity" class="model-input" placeholder="Bạn đi bao nhiêu người?">
            <p id="check-tickets-quantity"></p>

            <label for="tickets-phone" class="model-label">
                <span class="material-symbols-outlined">person</span>
                Liên hệ
            </label>
            <input required id="tickets-phone" type="number" name="tickets-phone" class="model-input" minlength="10" maxlength="10" placeholder="Số điện thoại">
            <p id="check-tickets-phone"></p>

            <label for="tickets-mail" class="model-label">
                <span class="material-symbols-outlined">mail</span>
                Email
            </label>
            <input required id="tickets-mail" type="email" name="tickets-mail" class="model-input" placeholder="Email">
            <p id="check-tickets-mail"></p>

            <button id="buy-tickets" type="submit" onclick="buyTickets(event)">
                Đặt
                <i class="ti-check"></i>
            </button>
        </div>
        <!-- </form> -->
        <div class="modal-foter">
            <p class="modal-help">Need <a href="">help?</a></p>
        </div>
    </div>
</div>

<!-- Bản đồ -->
<div class="maps">
    <div class="container container-map">
        <h1>BẢN ĐỒ</h1>
        <div class="container-map_location">
            <div class="container-map_location__item"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.282319941558!2d106.80034487465677!3d10.866118489288153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175275bc75f790d%3A0xeff189fa708d0e16!2zQ8O0bmcgdmnDqm4gdsSDbiBow7NhIFN14buRaSBUacOqbg!5e0!3m2!1svi!2s!4v1716109541949!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            <div class="container-map_location__item"><img src="~/imgs/maps.jpg" alt=""></div>
        </div>
    </div>
</div>

<!-- Các nhà đồng hành -->
<div class="partner">
    <div class="container container-partner">
        <h1>ĐỐI TÁC ĐỒNG HÀNH</h1>
        <div class="container-partner_list">
            <div class="container-partner_item"><img src="~/imgs/doitac/4a9mf1702871657.png" alt=""></div>
            <div class="container-partner_item"><img src="~/imgs/doitac/8JqME1702871654.png" alt=""></div>
            <div class="container-partner_item"><img src="~/imgs/doitac/AgnGo1702871645.jpg" alt=""></div>
            <div class="container-partner_item"><img src="~/imgs/doitac/vaf0s1702871649.jpg" alt=""></div>
            <div class="container-partner_item"><img src="~/imgs/doitac/YCA9y1702871660.png" alt=""></div>
        </div>
    </div>
</div>
