@section styles {
    <link rel="stylesheet" href="~/styles/index.css">
    <link rel="stylesheet" href="~/styles/grid.css">
    <link rel="stylesheet" href="~/styles/sub_styles/giave.css">
    <link rel="stylesheet" href="~/styles/sub_styles/sub-navigation.css">
}
<div class="content">
    <div class="container">
        <h1 class="content_heading">Giá vé khu du lịch Suối Tiên</h1>
        <div class="content_discription">
            <h3>Vé vào cổng và các dịch vụ miễn phí</h3>
            <table>
                <tr>
                    <th>1</th>
                    <td>Vé cổng người lớn</td>
                    <td>120.000VND</td>
                    <th>5</th>
                    <td>Vé cổng trẻ em</td>
                    <td>60.000VND</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Công trình lịch sử</td>
                    <td>Miễn phí</td>
                    <th>6</th>
                    <td>Công trình tâm linh</td>
                    <td>Miễn phí</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Show diễu hành</td>
                    <td>Miễn phí</td>
                    <th>7</th>
                    <td>Sân khấu Sơn Tinh, Thủy Tinh</td>
                    <td>Miễn phí</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Show Tứ Linh hội tụ</td>
                    <td>Miễn phí</td>
                    <th>8</th>
                    <td>Ca nhạc tổng hợp</td>
                    <td>Miễn phí</td>
                </tr>
            </table>
        </div>
        <div class="content_discription">
            <h3>Phương tiện và dịch vụ có phí</h3>
            <table>
                <tr>
                    <th>1</th>
                    <td>
                        Vé trông xe 2 bánh <br />
                        (xe đạp/ xe số/ xe ga)
                    </td>
                    <td>2.000/4.000/5.000</td>
                    <th>6</th>
                    <td>Taxi du lịch ( 7 chỗ/ 10 chỗ)</td>
                    <td>200.000/250.000</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>
                        Vé trông xe 4 bánh <br />
                        ( trên 10c/ dưới 10c)
                    </td>
                    <td>15.000VND đến 20.000VND</td>
                    <th>7</th>
                    <td>Xe lửa du lịch</td>
                    <td>20.000 đến 30.000</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Vé xe lăn</td>
                    <td>50.000</td>
                    <th>8</th>
                    <td>Vé nhà rông</td>
                    <td>15.000</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Vé xe đẩy</td>
                    <td>40.000</td>
                    <th>9</th>
                    <td>Vé võng</td>
                    <td>10.000</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Giữ hành lí</td>
                    <td>20.000/ 1 ngăn</td>
                    <th></th>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="content_discription">
            <h3>Giá vé các trò chơi giải trí</h3>
            <table>
                <tr>
                    <th>STT</th>
                    <th>Loại trò chơi</th>
                    <th>Người lớn</th>
                    <th>Trẻ em</th>
                    <th>STT</th>
                    <th>Loại trò chơi</th>
                    <th>Người lớn</th>
                    <th>Trẻ em</th>
                </tr>
                <tr>
                    <th>1</th>
                    <td>Xe đạp trên không</td>
                    <td>15.000</td>
                    <td>10.000</td>
                    <th>5</th>
                    <td>Biển Tiên Đông Ngọc Nữ</td>
                    <td>100.000</td>
                    <td>60.000</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Thủy cung</td>
                    <td>20.000</td>
                    <td>10.000</td>
                    <th>5</th>
                    <td>Cáp treo trên không</td>
                    <td>50.000</td>
                    <td>30.000</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Cối xay thần gió</td>
                    <td>30.000</td>
                    <td>20.000</td>
                    <th>7</th>
                    <td>Giang Sơn Bách Thú</td>
                    <td>30.000</td>
                    <td>15.000</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Câu cá giải trí</td>
                    <td colspan="2">20.000</td>
                    <th>8</th>
                    <td>Câu cá sấu</td>
                    <td colspan="2">30.000</td>
                </tr>
            </table>
        </div>
    </div>
</div>