@section styles {
    <link rel="stylesheet" href="~/styles/thuycung.css">
}
<!-- Content -->
<div class="content">
    <div class="container">
        <h1 class="content_heading">Thủy Cung Khu du lịch Suối Tiên</h1>
        <p class="content_discription">
            Một trải nghiệm thực tế mang tính giáo dục khác ở khu du lịch Suối Tiên không thể nhắc đến Thủy cung. Được xem là xứ sở của sự huyền ảo dưới đáy đại dương, chắc chắn không chỉ là các bé mà đối với các bậc phụ huynh cũng sẽ mê mệt nơi này.
            <br>
            Là công trình có quy mô lớn và độc đáo nhất tại Việt Nam, thủy cung Suối Tiên có hơn 100 loài động vật, hơn 40 loài thực vật biển sinh sống. Bên cạnh đó còn có những khung giờ trình diễn của các nàng tiên cá, uyển chuyển bơi lặn dưới mặt nước.
        </p>
        <img src="/imgs/dia-chi-suoi-tien.jpg" alt="">
    </div>
</div>

<!-- Bạn đã xem chưa -->
<div class="container">
    <H1 class="kpst">Bạn đã xem chưa</H1>
</div>

<!-- Silder -->
<div class="slider">
    <div class="container">
        <div class="owl-carousel">
            <div>
                <a href="/More/DuongHam" style="text-decoration: none;">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/imgs/khu-du-lich-van-hoa-suoi-tien.jpg" alt="">
                            <p style="padding: 8px 0 0 16px; font-weight: 800; font-size: 20px; margin: 0;">Đường hầm xuyên lòng đất</p>
                            <div class="card-body">
                                <p style="font-size: 16px;" class="card-text">Trở về với Ai Cập cổ đại và cùng gặp gỡ các vị vua và nữ hoàng uy quyền. Bạn còn được tận mắt chiêm ngưỡng hàng ngàn châu báu thời xa xưa chất cao như núi được bao người ao ước. Để truy tìm kho báu dưới lòng đất bí ẩn.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="/More/DiaNguc12Tang" style="text-decoration: none;">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/imgs/hinh-anh-suoi-tien.jpg" alt="">
                            <p style="padding: 8px 0 0 16px; font-weight: 800; font-size: 20px; margin: unset;">12 tầng địa ngục</p>
                            <div class="card-body">
                                <p style="font-size: 16px;" class="card-text">
                                    12 tầng địa ngục ở Suối Tiên truyền tải mạnh mẽ đạo lý nhân quả của Phật pháp. Từ âm thanh, ánh sáng, tiểu cảnh,… Đều được bố trí, tái hiện chân thật câu chuyện địa ngục về sự trả giá nếu làm ác. Khiến không ít du khách hét lên vì sợ và kinh dị.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="/More/TauLuon" style="text-decoration: none;">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/imgs/suoi-tien-o-dau.jpg" alt="">
                            <p style="padding: 8px 0 0 16px; font-weight: 800; font-size: 20px;">Tàu lượn siêu tốc</p>
                            <div class="card-body">
                                <p style="font-size: 16px; margin: 0;" class="card-text">Đoàn tàu đưa du khách trải nghiệm cảm giác “yomost”. Lên dốc cao rồi thả không trọng lượng xuống dốc thấp và đâm xuyên qua dãy núi Thiên Sơn Hàn Băng Động. Chắc chắn đây sẽ là trò chơi khiến bạn thích thú và khó quên nhất.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="/More/LeBonMua" style="text-decoration: none;">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/imgs/cac-tro-choi-o-suoi-tien.jpg" alt="">
                            <p style="padding: 8px 0 0 16px; font-weight: 800; font-size: 20px; margin: 0;">Lễ hội bốn mùa</p>
                            <div class="card-body">
                                <p style="font-size: 16px;" class="card-text">Nhờ không gian rộng lớn và thoáng mát. Thanh Giang. Suối Tiên Sài Gòn là địa điểm lý tưởng để tổ chức các lễ hội lớn. Mỗi một mùa lễ hội đều được đầu tư rực rỡ, hoành tráng. Nổi bật nhất phải kể đến là lễ hội mùa xuân và lễ hội mùa hè.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a href="/More/ChuaThienBao" style="text-decoration: none;">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/imgs/tham-quan-suoi-tien.jpg" alt="">
                            <p style="padding: 8px 0 0 16px; font-weight: 800; font-size: 20px; margin: 0;">Chùa Long Hoa Thiên Bảo</p>
                            <div class="card-body">
                                <p style="font-size: 16px;" class="card-text">Kỳ Quang Long Hoa Thiên Bảo (Suối Tiên) lần đầu tiên tổ chức tuần lễ văn hóa tâm linh đầy ý nghĩa nhân lễ Vu Lan đã để lại dấu ấn tốt đẹp. Nơi đây là điểm hành hương quan trọng và cũng thu hút du khách bởi không gian yên bình.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Social network -->
<div class="social-network" id="fixed-social-network">
    <a href="https://www.bing.com/ck/a?!&&p=d241074bef156acaJmltdHM9MTcxNTY0NDgwMCZpZ3VpZD0yODk0MjJhMS00Nzk2LTY5MWItMzBhYi0zMjZiNDZmMDY4NjImaW5zaWQ9NTIxOA&ptn=3&ver=2&hsh=3&fclid=289422a1-4796-691b-30ab-326b46f06862&psq=facebook+su%c3%b4i+ti%c3%aan&u=a1aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL1N1b2lUaWVuVGhlbWVQYXJrLw&ntb=1" id="facebook" class="facebook">
        <i class="fa fa-facebook"></i>
        <p>Facebook</p>
    </a>
    <a href="https://www.bing.com/ck/a?!&&p=07344b49a1fd9c20JmltdHM9MTcxNTY0NDgwMCZpZ3VpZD0yODk0MjJhMS00Nzk2LTY5MWItMzBhYi0zMjZiNDZmMDY4NjImaW5zaWQ9NTIxNQ&ptn=3&ver=2&hsh=3&fclid=289422a1-4796-691b-30ab-326b46f06862&psq=twittersu%c3%b4i+ti%c3%aan&u=a1aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL1N1b2lUaWVuVGhlbWVQYXJrLw&ntb=1" class="twitter">
        <i class="fa fa-twitter"></i>
        <p>Twitter</p>
    </a>
    <a href="https://suoitien.com/" class="google">
        <i class="fa fa-google"></i>
        <p>Google</p>
    </a>
    <a href="#" class="linkedin">
        <i class="fa fa-linkedin"></i>
        <p>Linkedin</p>
    </a>
    <a href="#" class="youtube">
        <i class="fa fa-youtube"></i>
        <p>Youtube</p>
    </a>
</div>