<footer class="footer">
    <div class="logo">
        <span></span>
        <a href="#"><img src="~/imgs/dw8bO1676262731.png"></a>
        <span></span>
    </div>
    <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">
        <div class="col-4 col myCol-12">
            <h3>Về chúng tôi</h3>
            <ul class="about-us" style="padding: 0;">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="">Trải nghiệm</a></li>
                <li><a href="">Bảng giá</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Nhà hàng</a></li>
                <li><a href="">Dịch vụ</a></li>
                <li><a href="">Ưu đãi và sự kiện</a></li>
                <li><a href="">Liên hệ</a></li>
            </ul>
        </div>
        <div class="col-4 col myCol-12">
            <h3>Chính sách</h3>
            <ul class="Policy" style="padding: 0;">
                <li><a href="#">Điều khoản - Quy định chung</a></li>
                <li><a href="">Quy định đặt vé</a></li>
                <li><a href="">Quy định thanh toán</a></li>
                <li><a href="">Chính sách giải quyết khuyến mãi</a></li>
                <li><a href="">Chính sách quyền riêng tư</a></li>
                <li><a href="">Chính sách sử dụng hình ảnh du khách</a></li>
                <li><a href="">Chính sách bảo mật thông tin</a></li>
            </ul>
        </div>
        <div class="col-4 col myCol-12">
            <h3>Liên hệ ngay</h3>
            <div class="footer-contact">
                <a href="#">
                    <div class="footer-contact_item">
                        <span class="material-symbols-outlined">
                            location_on
                        </span>
                        <p>120 Xa Lộ Hà Nội, TP.Thủ Đức, TP.Hồ Chí Minh</p>
                    </div>
                </a>
                <a href="#">
                    <div class="footer-contact_item">
                        <span class="material-symbols-outlined">
                            call
                        </span>
                        <p>1900 636 787 / 028. 38960 260</p>
                    </div>
                </a>
                <a href="#">
                    <div class="footer-contact_item">
                        <span class="material-symbols-outlined">
                            mail
                        </span>
                        <p>phongkinhdoanh@suoitien.com</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4 col myCol-12">
            <div class="contact">
                <h3>Giới thiệu về chúng tôi</h3>
                <p>Khu Du lịch Văn hóa Suối Tiên là một công viên liên hợp vui chơi giải trí kết hợp truyền thống các yếu tố văn hóa - lịch sử - tâm linh. Tọa lạc tại 120 Xa lộ Hà Nội, Phường Tân Phú, Thành phố Thủ Đức, Thành phố Hồ Chí Minh. Kiểu cách kiến trúc và các thể loại vui chơi được gắn lồng vào các hình ảnh lịch sử và truyền thuyết Việt Nam</p>
            </div>
        </div>
    </div>
    <div class="icon-social">
        <hr>
        <div class="social">
            <a href=""><img src="~/imgs/logo/facebook_2168281.png" alt=""></a>
            <a href=""><img src="~/imgs/logo/instagram_1384015.png" alt=""></a>
            <a href=""><img src="~/imgs/logo/tiktok_3116491.png" alt=""></a>
            <a href=""><img src="~/imgs/logo/twitter_2168336.png" alt=""></a>
        </div>
        <div class="info-social">
            <p>COPYRIGHT 2023 SUOI TIEN THEME PARK. ALL RIGHTS RESERVED</p>
            <p>Designed by ThanhGiang</p>
        </div>
    </div>
</footer>