<?xml version="1.0" encoding="utf-8"?>
<div class="header">
    <div class=" header-container">
        <div class="header-container_info">
            <div class="header-container_info__location">
                <span class="material-symbols-outlined">location_on</span>
                <p>120 XL Hà Nội, TP Thủ Đức, TP. HCM</p>
            </div>
            <div class="header-container_info_phone">
                <span class="material-symbols-outlined">call</span>
                <p>1900 636 787</p>
            </div>
            <div class="header-container_info__main">
                <span class="material-symbols-outlined">mail</span>
                <p>phongkinhdoanh@suoitien.com</p>
            </div>
        </div>
        <div class="header-container_icon">
            <div class="header-container_icon__pdf">
                <a href="~/BaoCaoWeb.pdf"><span class="material-symbols-outlined">picture_as_pdf</span></a>
            </div>
            <div class="header-container_icon__flag">
                <img src="~/imgs/vi.png" alt="">
                <img src="~/imgs/en.png" alt="">
            </div>
            <div class="header-container_icon__social">
                <i class="ti-facebook"></i>
                <i class="ti-twitter"></i>
                <i class="ti-linkedin"></i>
                <i class="ti-instagram"></i>
                <i class="ti-youtube"></i>
                <i class="ti-pinterest"></i>
            </div>
        </div>
    </div>
</div>