<?xml version="1.0" encoding="utf-8"?>
<div class="navigation">
    <div class="container-navigation">
        <ul class="navigation-list">
            <li class="navigation-item">
                <a class="nav-link active" aria-current="page" href="#">SUỐI TIÊN</a>
                <ul class="nav-item_sub__list">
                    <li><a class="nav-item_sub__item" href="/SuoiTien/LichSuHinhThanh">Lịch sử hình thành</a></li>
                    <li><a class="nav-item_sub__item" href="/SuoiTien/ThoiGianHoatDong">Thời gian hoạt động</a></li>
                    <li><a class="nav-item_sub__item" href="/SuoiTien/LichBieuDien">Lịch biểu diễn</a></li>
                    <li><a class="nav-item_sub__item" href="/SuoiTien/PhuongTienVanChuyen">Phương tiện vận chuyển</a></li>
                    <li><a class="nav-item_sub__item" href="/SuoiTien/DichVu">Dịch vụ</a></li>
                    <li><a class="nav-item_sub__item" href="/SuoiTien/QuyDinhThamQuan">Quy định tham quan</a></li>
                    <li><a class="nav-item_sub__item" href="/SuoiTien/BanDo">Bản đồ</a></li>
                </ul>
            </li>
            <li class="navigation-item">
                <a class="nav-link" href="#">KHÁM PHÁ SUỐI TIÊN</a>
                <ul class="nav-item_sub__list" style="width: 320px;">
                    <li><a class="nav-item_sub__item" href="/KhamPhaSuoiTien/CongVao">Cổng vào</a></li>
                    <li><a class="nav-item_sub__item" href="/KhamPhaSuoiTien/TroChoi">Trò chơi</a></li>
                    <li><a class="nav-item_sub__item" href="/KhamPhaSuoiTien/DiemThamQuan">Điểm tham quan</a></li>
                    <li><a class="nav-item_sub__item" href="/KhamPhaSuoiTien/VuonChimThu">Vườn chim thú</a></li>
                    <li><a class="nav-item_sub__item" href="/KhamPhaSuoiTien/HoatDongSanKhau">Hoạt động sân khấu</a></li>
                </ul>
            </li>
            <li class="navigation-item">
                <a class="nav-link" href="#">HOẠT ĐỘNG</a>
                <ul class="nav-item_sub__list">
                    <li><a class="nav-item_sub__item" href="/HoatDong/SuKien">Sự kiện</a></li>
                </ul>
            </li>
            <li class="navigation-item">
                <a href="/"><img src="~/imgs/dw8bO1676262731.png" alt="" class="navigation-item__logo"></a>
            </li>
            <li class="navigation-item">
                <a class="nav-link" href="/GiaVe/Index">GIÁ VÉ</a>
            </li>
            <li class="navigation-item">
                <a class="nav-link" href="/UuDai/Index">ƯU ĐÃI</a>
            </li>
            <li class="navigation-item">
                <a class="nav-link" href="/HoiDap/Index">HỎI ĐÁP</a>
            </li>
            <li class="navigation-item">
                <a class="nav-link" href="/GgMap/Index">GOOGLE MAP</a>
            </li>
        </ul>
    </div>
</div>