<div class="container sub-navigation">
    <div class="container sub-navi">
        <div class="container sub-navigation-logo">
            <a href="/"><img class="header-img" src="~/imgs/suoi-tien-logo.png" alt=""></a>
            <h1 class="header-title">Khu du lịch Suối Tiên</h1>
        </div>
        <div class="sub-navigation-icon">
            <i id="mobile-menu" class="ti-menu"></i>
            <ul class="sub-navigation-icon_list">
                <li class="sub-navigation-icon_item">
                    <a href="">SUỐI TIÊN</a>
                    <ul class="sub-navigation-icon_item__list">
                        <li><a class="sub-navigation-icon_item__item" href="/SuoiTien/LichSuHinhThanh">Lịch sử hình thành</a></li>
                        <li><a class="sub-navigation-icon_item__item" href="/SuoiTien/ThoiGianHoatDong">Thời gian hoạt động</a></li>
                        <li><a class="sub-navigation-icon_item__item" href="/SuoiTien/LichBieuDien">Lịch biểu diễn</a></li>
                        <li><a class="sub-navigation-icon_item__item" href="/SuoiTien/PhuongTienVanChuyen">Phương tiện vận chuyển</a></li>
                        <li><a class="sub-navigation-icon_item__item" href="/SuoiTien/DichVu">Dịch vụ</a></li>
                        <li><a class="sub-navigation-icon_item__item" href="/SuoiTien/QuyDinhThamQuan">Quy định tham quan</a></li>
                        <li><a class="sub-navigation-icon_item__item" href="/SuoiTien/BanDo">Bản đồ</a></li>
                    </ul>
                </li>
                <li class="sub-navigation-icon_item">
                    <a href="">KHÁM PHÁ SUỐI TIÊN</a>
                    <ul class="sub-navigation-icon_item__list">
                        <li><a class="sub-navigation-icon_item__item" href="/KhamPhaSuoiTien/CongVao">Cổng vào</a></li>
                        <li><a class="sub-navigation-icon_item__item" href="/KhamPhaSuoiTien/TroChoi">Trò chơi</a></li>
                        <li><a class="sub-navigation-icon_item__item" href="/KhamPhaSuoiTien/DiemThamQuan">Điểm tham quan</a></li>
                        <li><a class="sub-navigation-icon_item__item" href="/KhamPhaSuoiTien/VuonChimThu">Ẩm thực</a></li>
                        <li><a class="sub-navigation-icon_item__item" href="/KhamPhaSuoiTien/HoatDongSanKhau">Hoạt động sân khấu</a></li>
                    </ul>
                </li>
                <li class="sub-navigation-icon_item">
                    <a href="">HOẠT ĐỘNG</a>
                    <ul class="sub-navigation-icon_item__list">
                        <li><a class="sub-navigation-icon_item__item" href="/HoatDong/SuKien">Sự kiện</a></li>
                    </ul>
                </li>
                <li class="sub-navigation-icon_item">
                    <a href="/GiaVe/Index">GIÁ VÉ</a>
                </li>
                <li class="sub-navigation-icon_item">
                    <a href="/UuDai/Index">ƯU ĐÃI</a>
                </li>
                <li class="sub-navigation-icon_item">
                    <a href="/HoiDap/Index">HỎI ĐÁP</a>
                </li>
                <li class="sub-navigation-icon_item">
                    <a href="/GgMap/Index">GOOGLE MAP</a>
                </li>
                <li class="sub-navigation-icon_item">
                    <a href="./BaoCaoWeb.pdf">DOCUMENT.PDF</a>
                </li>
            </ul>
        </div>
    </div>
</div>